:root {
    --inputWidth: 300px;
}

button {
    padding: 12px 8px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 1px 2px;
}

button:hover {
    
}

input {
    height: 39px;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 6px;
    margin-left: 50px;
    width: var(--inputWidth);
}

textarea {
    margin-left: 50px;
    padding: 2px 4px;
    width: var(--inputWidth);
}

.bordered-table td, th {
    border: 1px solid;
    padding: 0 15px;
}

.small-td {
    width: 20px !important
}

.bordered-table {
    width: 100%;
    border: 1px solid;
    min-width: 50vw;
    border-collapse: collapse;
}